.post-top-img {
  display: block;
  width: 50%;
  margin-bottom: 2vw;
  margin-left: auto;
  margin-right: auto;
}

.post-body {
  font-size: 0.8rem;
}

.post-may-the-force-be-with-you {
  margin-top: 1vw;
  font-weight: bold;
}

.font-awesome-style:before {
	font-family: 'FontAwesome' ;
}