.contact--form-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border: 1px gray solid;
  border-radius: 10px;
}

.contact--form_box__input {
  border-bottom: 1px solid gray;
  width: 50%;
}

.contact--form_box__textarea {
  border: 1px solid gray;
  width: 95%;
}

.contact--form_box__button {
  text-align: center;
}